@import url('https://fonts.googleapis.com/css?family=Assistant:400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fffbf3;
}

header{
    background: #efd0c6;
    
    padding: 20px;
}

header > h1{
    color: white;
    text-shadow: 3px 3px 3px #a8a29f;
    text-align: center;
    font-family: Assistant, sans-serif;
}

.question-board{
    margin: 20px auto;
    border: 5px solid #e4dedb;
    border-radius: 2px;
    text-align: center;
    width: 400px;
    color: #857f7c;
    font-size: 20px;
    font-family: Assistant, sans-serif;
}

#npc-expression{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    
}

.questions{
    margin: 20px auto;
    text-align: center;
    color: #857f7c;
    width: 400px;
    font-family: Assistant, sans-serif;
}


.question{
    border: 4px solid #e4dedb;
    border-radius: 2px;
    margin: 5px;
    
}

#action-message{
    margin-top: 20px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
}


