




/* Typography */
h1{
    font-family: "assistant", sans-serif ;
    font-weight: 400px;
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px #ADB0BF ;
    color:white;
    margin: 0;
}

.subtitle{
    font-family: "alegreya", sans-serif;
    font-weight: 700;
    font-size: .7rem;
    letter-spacing: .3em ;
    margin: 0;
    color: #F8E9F2;
}

.startText{
    font-family: "Press Start 2P", sans-serif;
    font-size: .75rem;
    color: #ADB0BF;
}

.imgText{
    font-family: "Press Start 2P", sans-serif;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 1px pink;
    position: absolute;
    bottom: 35px;
    right: 40px;
}




/* Layout */
body{
    margin: 0;
    background: #FFFAFC;
}
header{
    background: pink;
    padding: 2em 0;
}

.site-title{
    margin: 0 auto;
    text-align: center;
}

#separator{
    height: .1em;
    background-color: #ADB0BF;
}

.container{
    margin: 0 auto;
    width: 100%;
}

.columns{
    display: flex;
    justify-content: space-around;

}

.col{
    padding: 1.5em;
    position: relative;
}

.col-1:hover .imgAzura{
    content:url(images/azuraFace/azuraSmile.png);
}

.col-2:hover .imgAnna{
    content:url(images/annaFace/annaSmile.png);
}

.col-3:hover .imgForrest{
    content:url(images/forrestFace/forrestSmile.png);
}

.col-4:hover .imgLeo{
    content:url(images/leoFace/leoSmile.png);
}

.col-5:hover .imgMarth{
    content:url(images/marthFace/marthSmile.png);
}

.col-6:hover .imgOdin{
    content:url(images/odinFace/odinSmile.png);
}

img{
    border-style: solid;
    border-color: pink;
    border-radius: 25px;
}



@media (max-width:600px){
    .columns{
        flex-direction: column;
        align-items: center;
    }
}